# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
*.db
*.sqlite

# Logs
logs/*.log

# PDFs descargados
pdf/*.pdf

# CSV temporales
csv/*.csv

# TXT finales
txt/*.txt

# Configuración sensible
config/.env
config.ini.local

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# .env
.env
.env.*

# Cache local de autenticacion MSAL
data/msal_cache.bin